/*
  =========================================

	  SETTINGS

	=========================================
*/

// -------------------------------------
//   @font-face
// -------------------------------------
$font-size: 							  16px;
$font-weight: 						  400;
$font-family: 						  Arial, "Helvetica Neue", Helvetica, sans-serif;
$font: 									    $font-weight toem($font-size) $font-family;

$font-weight-light: 		    300;
$font-weight-regular: 	    $font-weight;
$font-weight-semibold: 	    600;
$font-weight-bold: 			    700;

// -------------------------------------
//   Font colors
// -------------------------------------
$font-color:                #101010;
$font-color-bright: 		    #edede6;
$font-color-dark: 			    $font-color;
$font-color-white: 		      #fff;

// -------------------------------------
//   Backgrounds
// -------------------------------------
$background:         		    $font-color-bright;
$background-bright:			    $background;

// -------------------------------------
//   Wrappers
// -------------------------------------
$wrapper-min-width: 				torem(1200px);

// -------------------------------------
//   Breakpoints
// -------------------------------------
/*$breakpoints: (
  'desktop-fhd': (max-width: 1920px),
  'desktop': (max-width: 1366px),
  'ipad': (min-width: 1023px, max-width: 1024px),
  'isdesktop': (min-width: 1024px),
  'ismobile': (max-width: 1024px),
  'iphone': (max-width: 980px)
);*/

// -------------------------------------
//   Animations/Transitions
// -------------------------------------
$transition-duration:      0.25s;
$transition-timing:        ease;
