/*
  =========================================

	  TYPOGRAPHY

	=========================================
*/

@import "./settings";

// -------------------------------------
//   Variables
// -------------------------------------
$headers-h1-font-size: 				toem(46px);
$headers-h2-font-size: 				toem(32px);
$headers-h3-font-size: 				toem(24px);
$headers-h4-font-size: 				toem(22px);
$headers-h5-font-size: 				toem(18px);
$headers-h6-font-size: 				toem(16px);

// -------------------------------------
//   Base
// -------------------------------------
html,
button {
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: $font;
  font-weight: 400;
  color: $font-color;
}

h1 {
  margin: 0;
  font-size: $headers-h1-font-size;
  line-height: 1.2;
  text-transform: uppercase;
}

h2 {
  margin: 0;
  font-size: $headers-h2-font-size;
  line-height: 1.4;
}

h3 {
  font-size: $headers-h3-font-size;
}

h4 {
  font-size: $headers-h4-font-size;
}

h5 {
  font-size: $headers-h5-font-size;
}

h6 {
  font-size: $headers-h6-font-size;
}

strong {
  font-weight: $font-weight-bold;
}
