.wrapper { max-width: 960px; margin: 0 auto; padding: 0 50px; }
a { color: #3fa5b5; }
main { 
    h1 { padding: 50px 0; text-align: center; word-wrap: break-word; border-bottom: 1px solid #3fa5b5;
        margin-bottom: 50px; }
    p.detail { margin-bottom: 30px; }
    ul {
        margin-left: 40px;
        li { list-style: initial; margin-bottom: 10px; }
    }
    .sub-section { 
        margin-top: 30px; 
        ul {
            margin-top: 15px;
            li h2 { font-size: 20px; }
        }
    }
    h3 { margin-bottom: 15px; margin-top: 50px; }
}
footer { 
    background: #d2d2d2; margin-top: 100px;
    >div.wrapper { padding-top: 50px; margin-top: 50px; padding-bottom: 50px; }
    p { font-size: 12px; }
}

